body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#020617;
padding:20px;
}

.logo{
margin-bottom:40px;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
padding:10px;
margin-bottom:10px;
cursor:pointer;
border-radius:6px;
}

.menu li:hover{
background:#1e293b;
}

.menu .active{
background:#2563eb;
}

.main{
flex:1;
padding:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:30px;
}

.card{
padding:20px;
border-radius:10px;
}

.income{background:#064e3b}
.expense{background:#7f1d1d}
.balance{background:#1e3a8a}
.saving{background:#4c1d95}

.card p{
font-size:22px;
font-weight:bold;
}

.progressBox{
background:#1e293b;
padding:20px;
border-radius:10px;
margin-bottom:30px;
}

.progressItem{
margin-bottom:15px;
}

.bar{
background:#334155;
height:10px;
border-radius:10px;
}

.bar div{
height:10px;
border-radius:10px;
}

#needBar{background:#3b82f6}
#wantBar{background:#f97316}
#saveBar{background:#a855f7}

.recent{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.recent ul{
list-style:none;
padding:0;
}

.recent li{
display:flex;
justify-content:space-between;
padding:10px 0;
border-bottom:1px solid #334155;
}

.plus{
color:#22c55e;
}

.minus{
color:#ef4444;
}